div.background-index{
    background-image: url("../public/background_index.png") ;  
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 92vh;
    background-size: cover;
    padding-top: 3rem;


}

div.card_hover:hover {
    border: 2px solid rgb(6, 6, 22) !important;
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.2);
    transition: all 0.1s linear;
    background-size: cover;
    background-color: rgb(236, 247, 255);
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.card h3{
    text-transform: uppercase;
    color: rgb(74, 100, 111);
    font-size: .8rem;
}

.car p{
    line-height: 1.4rem;
}
